<div class='register-page app-component' *ngIf='!logginedIn'>
    <div class='register-items-container'>
        <div class='register-items'>
            <label for="username">Username: </label>
            <input type="text" placeholder="Enter Username"
                   name="username" [(ngModel)]="username" required
                   #usernameBoxSelect>
        </div>
        <div class='register-items'>
            <label for="password">Password: </label>
            <input type="password" placeholder="Enter Password" name="password" [(ngModel)]="password" required>
        </div>
        <div class='register-items'>
            <label for="email">Email: </label>
            <input type="text" placeholder="Enter Email" name="email" [(ngModel)]="email" required>
        </div>
        <button
            class='register-button'
            type='submit'
            (click)='registerUser()'>{{REGISTER_BUTTON_TEXT}}
        </button>
        <div class='login-link'><a [routerLink]="['/login']">{{LOGIN_TEXT}}</a></div>
    </div>
</div>
