.register-page {
    height: 60vh;
    display: grid;
}

.register-page:hover {
    opacity: 1.0;
}

.register-items-container {
    justify-self: center;
    align-self: center;
    display: grid;
    height: 80%;
    width: 30%;
}

.register-items {
    display: grid;
    justify-self: stretch;
    align-self: center;
}

.register-button {
    width: 50%;
    height: 70%;
    margin: auto;
    color: red;
    border-radius: 0.7em;
}
