<div class='register-items-container' *ngIf='!logginedIn'>
    <div class='register-title'>
        <h2>{{REGISTER_TITLE}}</h2>
    </div>
    <div class='register-items'>
        <label for='username'></label>
        <input type='text' placeholder='Enter Username'
                name='username' [(ngModel)]='username' required
                #registrationSelectBox>
    </div>
    <div class='register-items'>
        <label for='password'></label>
        <input type='password' placeholder='Enter Password' name='password' [(ngModel)]='password' required>
    </div>
    <div class='register-items'>
        <label for='email'></label>
        <input type='text' placeholder='Enter Email' name='email' [(ngModel)]='email' required>
    </div>
    <button
        class='register-button'
        type='submit'
        (click)='registerUser()'>{{REGISTER_BUTTON_TEXT}}
    </button>
    <div class='login-link'><a [routerLink]="['/login']">{{LOGIN_TEXT}}</a></div>
</div>
