<div class='register-items-container' *ngIf='!logginedIn'>
    <div class='register-title'>
        <h2>{{REGISTER_TITLE}}</h2>
    </div>
    <div class='register-items'>
        <label for='email'>{{EMAIL_CRITERIA}}</label>
        <input type='text' placeholder='Enter Email'
                name='email' [(ngModel)]='email' required
                #registrationSelectBox>
    </div>
    <div class='register-items'>
        <label for='password'>{{PASSWORD_CRITERIA}}</label>
        <input type='password' placeholder='Enter Password' name='password' [(ngModel)]='password' required>
    </div>
    <div class='register-items'>
        <label for='security-answer'>{{securityQuestion}} {{SECURITY_ANSWER_CRITERIA}}</label>
        <input type='text' [(ngModel)]='securityAnswer' placeholder="{{SECURITY_ANSWER_PROMPT}}" 
               name='security-answer' required>
    </div>
    <button
        class='register-button'
        type='submit'
        (click)='registerUser()'>{{REGISTER_BUTTON_TEXT}}
    </button>
    <div class='login-link'><a [routerLink]="['/login']">{{LOGIN_TEXT}}</a></div>
</div>
