<div class='forgot-page app-component'>
    <div class='forgot-items-container'>
        <div class='forgot-items'>
            <label for="email">Email: </label>
            <input type="text" placeholder="Enter Email"
                   name="email" [(ngModel)]="email" required
                   #emailBoxSelect>
        </div>
        <button
            class='forgot-button'
            type='submit'
            (click)='forgotPassword()'>{{FORGOT_BUTTON_TEXT}}
        </button>
        <div class='login-link'><a [routerLink]="['/login']">{{LOGIN_TEXT}}</a></div>
    </div>
</div>
