<div class='forgot-items-container'>
    <div class='forgot-title'>
        <h2>{{FORGOT_TITLE}}</h2>
    </div>
    <div class='forgot-items'>
        <label for='email'></label>
        <input type='text' placeholder='Enter Email'
               name='email' [(ngModel)]='email' required
               #emailBoxSelect>
    </div>
    <div class='forgot-items'>
        <label for='password'>{{PASSWORD_CRITERIA}}</label>
        <input type='password' placeholder='Enter New Password'
               name='password' [(ngModel)]='password' required>
    </div>
    <div class='forgot-items' *ngIf='isQuestionActive'>
        <label for='securityAnswer'>{{securityQuestion | async}}</label>
        <input type='text' placeholder='Answer security question:'
               name='securityAnswer' [(ngModel)]='securityAnswer' required>
    </div>
    <button *ngIf='!(isQuestionActive | async)'
        class='forgot-button'
        type='submit'
        (click)='proceed()'>{{PROCEED_BUTTON_TEXT}}
    </button>
    <button *ngIf='(isQuestionActive | async)'
        class='forgot-button'
        type='submit'
        (click)='forgotPassword()'>{{FORGOT_BUTTON_TEXT}}
    </button>
    <div class='login-link'><a [routerLink]="['/login']">{{LOGIN_TEXT}}</a></div>
</div>
