.app-root {
    height: 100%;
    width: 100%;
    margin: auto;
    position: fixed;
    background-color: lightblue;
    background-size: cover;
    background-repeat: round;
    background-image: url('../background.jpg');
}
