.app-root {
    height: 100%;
    width: 100%;
    overflow: auto;
    display: grid;
    text-align: center;
}

.main-component {
    background-color: rgb(91, 150, 189);
    margin: 2vh 10vw;
    opacity: 0.85;
    border-radius: 0.7em;
}

.main-component:hover {
    opacity: 1.0;
}

@media screen and (orientation: portrait) {
    .main-component {
        opacity: 1.0;
    }
}
