.login-page {
    height: 60vh;
    display: grid;
}

.login-items-container {
    justify-self: center;
    align-self: center;
    display: grid;
    height: 100%;
    width: 30%;
}

.login-items {
    display: grid;
    justify-self: stretch;
    align-self: center;
}

.login-button {
    width: 50%;
    height: 100%;
    margin: auto;
    color: red;
    border-radius: 0.7em;
}

.login-title {
    text-align: center;
    color: rgb(255, 187, 0);
    font-size: 1.4em;
}

.login-title h2 {
    margin-bottom: 0;
}

.page-links {
    text-align: center;
}