.login-page {
    height: 60vh;
    display: grid;
}

.login-items-container {
    justify-self: center;
    align-self: center;
    display: grid;
    height: 100%;
    width: 30%;
}

.login-items {
    display: grid;
    justify-self: stretch;
    align-self: center;
}

.login-items label {
    font-size: --page-label-size;
    font-weight: 700;
    margin-bottom: 0.1vh;
}

.login-items input {
    font-size: var(--input-size);
}

.login-button {
    width: 50%;
    height: 100%;
    margin: auto;
    color: red;
    border-radius: 0.7vh;
    font-size: var(--click-button-size);
}

.login-title {
    text-align: center;
    color: var(--title-color);
    font-size: var(--title-size);
}

.login-title h2 {
    margin-bottom: 0;
}

.page-links {
    text-align: center;
    font-size: var(--page-link-size);
}