.login-page {
    height: 60vh;
    display: grid;
}

.login-items-container {
    justify-self: center;
    align-self: center;
    display: grid;
    height: 80%;
    width: 30%;
}

.login-items {
    display: grid;
    justify-self: stretch;
    align-self: center;
}

.login-button {
    width: 50%;
    height: 50%;
    margin: auto;
    color: red;
    border-radius: 0.7em;
}