<div class='login-page app-component' *ngIf='!logginedIn'>
    <div class='login-items-container'>
        <div class='login-items'>
            <label for="username">Username: </label>
            <input type="text" placeholder="Enter Username" name="username" [(ngModel)]="username" required>
        </div>
        <div class='login-items'>
            <label for="password">Password: </label>
            <input type="password" placeholder="Enter Password" name="password" [(ngModel)]="password" required>
        </div>
        <button
            class='login-button'
            type='submit'
            (click)='authenticate()'>{{LOGIN_BUTTON_TEXT}}
        </button>
        <div class='register-link'><a [routerLink]="['/register']">{{REGISTER_TEXT}}</a></div>
    </div>
</div>
