/* You can add global styles to this file, and also import other style files */
html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: auto;
    position: fixed;
    background-color: lightblue;
    background-size: cover;
    background-repeat: round;
    background-image: url('./background.jpg');
}

:root {
    // colors
    --title-color: rgb(255, 187, 0);

    // font sizes
    --title-size: 4vh;
    --page-link-size: 3vh;
    --input-size: 2.2vh;
    --page-label-size: 3.5vh;
    --click-button-size: 2vh;
}