/* You can add global styles to this file, and also import other style files */
html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: auto;
    position: fixed;
    background-size: cover;
    background: url('./background.jpg') lightblue round;
}

:root {
    // colors
    --title-color: rgb(73, 49, 43);

    // font sizes
    --title-size: 4vh;
    --page-link-size: 3vh;
    --input-size: 2.2vh;
    --page-label-size: 3.5vh;

    // input items
    --input-item-width: 25vw;
    --input-item-width-mobile: 40vw;

    // buttons
    --click-button-width: var(--input-item-width);
    --click-button-height: 100%;
    --click-button-color: red;
    --click-button-font-size: 3vh;
    --logout-button-width: 10vw;
    --logout-button-height: 10vh;
    --logout-button-color: blue;
}
